/* common rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* /common rules */

/* debug */
.debug #control_bar{
    background-color: lightsalmon;
    
}
.debug #content{
    background-color: lightsteelblue;
    
}
.debug .side_column{ 
     background-color: lightgreen;
     
}
.debug .music_content{
    
    background-color: lightpink;
}
.debug .action_container{
    
    background-color: rgba(0, 0, 0, 0.445);
}
.debug .user_content{
    
    min-height: 60%;
    background-color: cadetblue;
}
.debug .profile{
    background-color: cadetblue;
    
    height: 80px;
}
/* /debug.*/

/* utility */
.f_left{
    float: left;
}
.flex{
    display: flex;
}
/* /utility */


/*Struttura generale*/

#control_bar{
   height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#content{
    width: 100%;
    height: calc(100% - 100px);
}


/* Sezione laterale sinistra */

.side_column{
    width: 240px;
     height: 100%;
     flex-direction: column;
     justify-content: space-between;
}
.user_content{
    width: 100%;
}
    .logo img{
        height: 50px;
        margin: 15px;
    }

.profile{
    width: 100%;
}
.playlist{
    overflow: auto;
    height: 50%;
}

/* Parte centrale della musica */

.music_content{
    width: calc(100% - 240px);
    height: 100%;
}
.action_container{
    height: 90px;
    width: 100%;
}