/* common rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    min-height: 750px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none;
}
body a:hover{
            color: white;
                }
/* /common rules */

/* debug */
.debug #control_bar{
    background-color: rgb(40, 40, 40);
    
}
.debug #site_main{
    background-color: lightsteelblue;
    
}
.debug .side_column{ 
     background-color: rgb(0, 0, 0);
     
}
.debug .music_content{
    
    background-color: #141922
}
.debug .action_container{
    
    background-color: rgba(0, 0, 0, 0.445);
}
.debug .user_content{
    
    /* min-height: 60%; */
    /* background-color: cadetblue;
    border: 1px solid black; */
}
/* .debug .profile{
    background-color: cadetblue;
} */
/* /debug.*/

/* utility */
.f_left{
    float: left;
}
.flex{
    display: flex;
}
.list_none{
    list-style-type: none;
}
.list_inline li{
    display: inline;
}
.sub{
    font-size: 12px;
    
    font-weight: bold;
}

.cntr{
    text-align: center;
}
        /* utility background */

        /* utility color */
.gry{
    color: #A3A3A3;
}
.wht{
    color: white;
}
.strong{
    font-weight: bold;
}
.circle{
    border-radius: 50%;
}
.resp_si{
        display: none;
    }
.hidden{
    visibility: hidden;
}
/* /utility */


/*Struttura generale*/

#control_bar{
   height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#site_main{
    width: 100%;
    height: calc(100vh - 100px);
}
/* Action section */
.action_container{
    justify-content: end;
    align-items: center;
}
.action_button{
    margin-right: 20px;
    border: 1px solid white;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 12px;
}
.action_button:hover{
    transform: scale(1.1);
}

/* Sezione laterale sinistra */

.side_column{
    width: 240px;
     height: 100%;
     flex-direction: column;
     justify-content: space-between;
     padding:15px 15px 5px 15px;
     
}
.user_content{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
    .logo img{
        height: 50px;
        
    }
    .nav_side{
        margin: 25px 0;
    }

    .list_playlist {
        overflow: auto;
        height: 30vh;
 
    }
.profile{
    width: 100%;
}
    .profile div{
        margin: 8px 0;
    }   
    .go.to_profile a{
        font-size: 20px;
    }
.side_column a{
    
    font-size: 16px;
    font-weight: 700;
    color: #A3A3A3;
}
.side_column li, .side_column h3{
    margin: 15px 0;
}
.side_column .special{
    font-size: 20px;
}
.big{
    font-size: 50px;
}
.to_profile svg{
    background: #A3A3A3;
    padding: 1px 2px;
    border-radius: 50%;
}


/* barra di controllo in basso  */
#control_bar{
    justify-content: space-between;
}
.detail{
    align-items: center;
    
}
    .album{
        padding: 25px 10px;
    }
    img.running{
        height: 50px;
    }
.u_line:hover{
    text-decoration: underline;
}
.interactions li{
    margin: 5px 10px;
}
.control{
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

    .buttons ul{
        text-align: center;
    }
    .buttons .fas{
        font-size: 18px;
    }
    .buttons .far{
        font-size: 28px;
    }
    .buttons li{
        margin: 10px;
        cursor: pointer;
    }
    .timeline{
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #a3a3a365;
        margin: 0 20px;
    }
    .timeline_color{
        position: relative;
        width: 25%;
        height: 3px;
        background-color: #A3A3A3;
    }
    .trace_bar{
        justify-content:center;
        align-items:center;
    }
    .dropper{
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        visibility: hidden;
    }
    
.audio{
    justify-content: space-between;
    align-items: center;
}
    .audio li{
        margin: 5px;
    }
    .vol_bar{
        width: 60px;
        background-color: #a3a3a365;
        height: 3px;
        margin: 5px;
    }
    .vol_bar_color{
        position: relative;
        width: 40%;
        height: 3px;
        background-color: #A3A3A3;
    }

.control i:hover,
.audio i:hover{
    transform: scale(1.1);
}
.detail i:hover{
    color: white;
    cursor: pointer;
}
.trace_bar:hover .dropper,
    .volume:hover .dropper{
        visibility: visible;
        cursor: pointer;
    }
    .trace_bar:hover .timeline_color,
    .volume:hover .vol_bar_color{
        background-color: greenyellow;
    }
    /* parte centrale della musica */
.music_content{
    width: calc(100% - 240px);
    height: 100%;
    
}
.action_container{
    height: 90px;
    width: 100%;
}

.container{
        
        height: calc(100% - 190px);
        overflow:auto;
        
    }
    .music_nav ul{
        text-align: center;
        padding: 5px;
        margin: 24px;
    }
        .music_nav li{
            margin: 8px;
            font-size: 12px;
        }
        
    .row{
        margin: 10px;
    }
    .col{
        width: calc(100% / 6);
        padding: 5px;
        
        
    }
    .container img{
        width: 100%;
    }
    .container h3, 
    .container h5{
        margin: 10px 0px;
    }
    .cont_img{
        position: relative;
    }
    .play1{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 70%;
    }
    .play1 i{
        z-index: 5;
        cursor: pointer;
        font-size: 50px;
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .cont_img:hover .hidden {
        visibility: visible;
    }
/* ****************************************************************************************
*********************** R E S P O N S I V E ********************************************
********************************************************************************************/

@media screen and (max-width: 1024px){
    .row .col{
       width: calc(100% / 4);
    }
    .row{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:768px) {
    .row .col{
        width: calc(100% / 2)
    }
    .user_content .logo.resp_none{
        display: initial;
    }
    .buttons li{
        margin: 10px;
        
    }
    
}
@media screen and (max-width:480px) {
    
    .side_column{
        width: 70px;
    }
    .music_content{
    width: calc(100% - 80px)
    
}
    .resp_no{
        display: none;
    }
    .resp_si{
        display: block;
        width: 40px;
    }
    .side_column li{
        text-align: center;
    }
    .profile svg{
    width: 26px;
}
.album{
        padding: 25px 10px;
    }
    img.running{
        height: 30px;
    }
   #control_bar .metadati{
        font-size: 10px;
    }
    .interactions li{
        
        margin: 3px;
        font-size: 12px;
    }
.buttons .far{
        font-size: 20px;
    }
    .buttons .fas{
        font-size: 15px;
    }
    .trace_bar .past,
    .trace_bar .remaining{
        font-size: 10px;
    }
    .audio li{
        font-size: 10px;
    }
}