/* common rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* /common rules */

/* debug */
.debug #control_bar{
    background-color: lightsalmon;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.debug #content{
    background-color: lightsteelblue;
    width: 100%;
    height: calc(100% - 100px);
}
.debug .side_column{
    width: 240px;
     height: 100%;
     background-color: lightgreen;
     flex-direction: column;
     justify-content: space-between;
}
.debug .music_content{
    width: calc(100% - 240px);
    height: 100%;
    background-color: lightpink;
}
.debug .action_container{
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
}
.debug .user_content{
    width: 100%;
    height: 550px;
    background-color: cadetblue;
}
.debug .profile{
    background-color: cadetblue;
    width: 100%;
    height: 80px;
}
/* /debug.*/

/* utility */
.f_left{
    float: left;
}
.flex{
    display: flex;
}
/* /utility */