/* common rules */
*{box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
}
/* /common ruled */

/* debug */
.debug #control_bar{
    background-color: lightsalmon;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.debug #content{
    background-color: lightsteelblue;
    width: 100%;
    height: calc(100% - 80px);
}

/* /debug.*/