/* common rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    min-height: 750px;
    font-family: 'Montserrat', sans-serif;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none;
}
/* /common rules */

/* debug */
.debug #control_bar{
    background-color: lightsalmon;
    
}
.debug #content{
    background-color: lightsteelblue;
    
}
.debug .side_column{ 
     background-color: rgb(0, 0, 0);
     
}
.debug .music_content{
    
    background-color: lightpink;
}
.debug .action_container{
    
    background-color: rgba(0, 0, 0, 0.445);
}
.debug .user_content{
    
    /* min-height: 60%; */
    /* background-color: cadetblue;
    border: 1px solid black; */
}
/* .debug .profile{
    background-color: cadetblue;
} */
/* /debug.*/

/* utility */
.f_left{
    float: left;
}
.flex{
    display: flex;
}
.list_none{
    list-style-type: none;
}
        /* utility background */

        /* utility color */
.gry{
    color: #A3A3A3;
}
.wht{
    color: white;
}
.strong{
    font-weight: bold;
}

/* /utility */


/*Struttura generale*/

#control_bar{
   height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#content{
    width: 100%;
    height: calc(100% - 100px);
}


/* Sezione laterale sinistra */

.side_column{
    width: 240px;
     height: 100%;
     min-height: 600px;
     flex-direction: column;
     justify-content: space-between;
     padding:15px 15px 5px 15px;
     
}
.user_content{
    width: 100%;
    height: 700px;
}
    .logo img{
        height: 50px;
        
    }
    .nav{
        margin: 25px 0;
    }

    .list_playlist {
        overflow: auto;
        height: 30vh;
 
    }
.profile{
    width: 100%;
}
    .profile div{
        margin: 8px 0;
    }   
    .go.to_profile a{
        font-size: 20px;
    }
.side_column a{
    
    font-size: 16px;
    font-weight: 700;
    color: #A3A3A3;
}
.side_column li, .side_column h3{
    margin: 15px 0;
}
.side_column .special{
    font-size: 20px;
}
.big{
    font-size: 50px;
}
/* Parte centrale della musica */

.music_content{
    width: calc(100% - 240px);
    height: 100%;
    
}
.action_container{
    height: 90px;
    width: 100%;
}
/* barra di controllo in basso  */
#control_bar{
    justify-content: space-between;
}
.detail{
    align-items: center;
}
    .album{
        padding: 25px 10px;
    }
    img.running{
        height: 50px;
    }
    .